@font-face {
  font-family: "Bariol Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Bariol Bold"), url("../fonts/bariol_bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bariol Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Bariol Regular"), url("../fonts/bariol_regular-webfont.woff") format("woff");
}
